{% extends 'public/base-public.html.twig' %}
{% block stylesheets %}
    <link rel="icon" type="image/png" href="{{ asset('picture/logo-malbot.png') }}"/>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
{% endblock %}
{% block secondTitle %}Register{% endblock %}

{% block main %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.username) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
    }) }}
    <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
{% block contact %}{% endblock %}
{% block javascripts %}{% endblock %}

